html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #050505;
  overflow: hidden; /* Prevent native window bounds from fighting with custom snapping layout */
}

/* Custom minimal scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb:hover {
  background: #bc1c1c;
}
